html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Ubuntu", sans-serif;
  color: #3e3947;
  background-color: white;
}

body,
html {
  height: 100%;
}

a {
  color: #3e3947;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* -------------------------------- 

Main components 

-------------------------------- */
.cd-section {
  min-height: 100%;
  position: relative;
  padding: 2em 0;
}

.cd-scroll-down {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  width: 38px;
  height: 44px;
  background: url("../img/cd-arrow-bottom.svg") no-repeat center center;
}

/* No Touch devices */
.cd-nav-trigger {
  display: none;
}

.no-touch #cd-vertical-nav {
  position: fixed;
  right: 40px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
.no-touch #cd-vertical-nav li {
  text-align: right;
}
.no-touch #cd-vertical-nav a {
  display: inline-block;
  /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.no-touch #cd-vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}
.no-touch #cd-vertical-nav a span {
  float: right;
  display: inline-block;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
.no-touch #cd-vertical-nav a:hover span {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.no-touch #cd-vertical-nav a:hover .cd-label {
  opacity: 1;
}
.no-touch #cd-vertical-nav a.is-selected .cd-dot {
  background-color: white;
}
.no-touch #cd-vertical-nav .cd-dot {
  position: relative;
  top: 8px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #d88683;
  -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
  -moz-transition: -moz-transform 0.2s, background-color 0.5s;
  transition: transform 0.2s, background-color 0.5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.no-touch #cd-vertical-nav .cd-label {
  position: relative;
  margin-right: 10px;
  padding: 0.4em 0.5em;
  color: black;
  font-size: 14px;
  font-size: 0.875rem;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

/* Touch devices */
.touch .cd-nav-trigger {
  display: block;
  z-index: 2;
  position: fixed;
  bottom: 30px;
  right: 5%;
  height: 44px;
  width: 44px;
  border-radius: 0.25em;
  background: rgba(255, 255, 255, 0.9);
}
.touch .cd-nav-trigger span {
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: #3e3947;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.touch .cd-nav-trigger span::before,
.touch .cd-nav-trigger span::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
}
.touch .cd-nav-trigger span::before {
  top: -9px;
}
.touch .cd-nav-trigger span::after {
  bottom: -9px;
}

.touch #cd-vertical-nav {
  position: fixed;
  z-index: 1;
  right: 5%;
  bottom: 30px;
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-radius: 0.25em;
  background-color: rgba(255, 255, 255, 0.9);
}
.touch #cd-vertical-nav a {
  display: block;
  padding: 1em;
  border-bottom: 1px solid rgba(62, 57, 71, 0.1);
}
.touch #cd-vertical-nav a span:first-child {
  display: none;
}
.touch #cd-vertical-nav a.is-selected span:last-child {
  color: #d88683;
}
.touch #cd-vertical-nav.open {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.touch #cd-vertical-nav.open + .cd-nav-trigger {
  background-color: transparent;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span {
  background-color: rgba(62, 57, 71, 0);
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before,
.touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
  background-color: #3e3947;
  height: 3px;
  width: 20px;
  border-radius: 0;
  left: -8px;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1px;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  bottom: 0;
}
.touch #cd-vertical-nav li:last-child a {
  border-bottom: none;
}

@media only screen and (min-width: 768px) {
  .touch .cd-nav-trigger,
  .touch #cd-vertical-nav {
    bottom: 40px;
  }
}

.accordionWorks {
  margin-top: 10%;
  background: rgba(0, 0, 0, 0.1);
  height: 300px;
  margin: 20px auto;
  display: flex;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
  flex-direction: row;
  cursor: pointer;
  margin-bottom: 100px;
}
.box {
  position: relative;
  height: 100%;
  flex: 1;
  background-position: left;
  background-size: cover;
  transition: 0.7s;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
}
.box:hover {
  flex: 7;
  height: 400px;
}
.a1 {
  background-image: url("../img/trabajos/plagas.png");
  width: 200px;
}
.a2 {
  background-image: url("../img/trabajos/ecommerce.png");
}
.a3 {
  background-image: url("../img/trabajos/libro.png");
  color: #fff;
}
.a4 {
  background-image: url("../img/trabajos/qdental.png");
  color: #fff;
}
.a5 {
  background-image: url("../img/trabajos/tracks.png");
}

.a6 {
  background-image: url("../img/trabajos/tromen.png");
}
p {
  font-weight: normal;
  font-family: "Ubuntu", sans-serif;
}
.text {
  position: absolute;
  bottom: 0;
  opacity: 0;
  padding: 10px;
}
.box:hover .text {
  opacity: 1;
}
h1 {
  width: 250px;
  text-align: center;
  margin: 100px auto 20px auto;
}

.bannerText {
  position: relative;
  margin-top: 30%;
  left: 5%;
  transform: translateY(-50%);
  max-width: 700px;
}

.bannerText h2,
.bannerText h3 {
  position: relative;
  margin: 0;
  padding: 0px;
  display: inline-block;
  transform-origin: left;
  text-transform: uppercase;
  transform: scaleX(0);
  animation: revearlTextReverse 1s ease-in-out forwards;
}

.bannerText h2 {
  font-size: 2.5em;
  animation-delay: 2s;
}
.bannerText h3 {
  font-size: 1.5em;
  animation-delay: 3s;
}

.bannerText h2:before,
.bannerText h3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  width: 100%;
  height: 100%;
  transform-origin: right;
  animation: revearlText 1s ease-in-out forwards;
  animation-delay: 3s;
}

.bannerText h3:before {
  animation-delay: 4s;
}

@keyframes revearlText {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes revearlTextReverse {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.bannerText p {
  margin-top: 15px;
  opacity: 0;
  font-weight: 400;
  font-size: 1.2em;
  animation: fadeIn 1s linear forwards;
  animation-delay: 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bannerText a {
  opacity: 0;
  display: inline-block;
  margin: 20px 0 0;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.2em;
  letter-spacing: 1px;
  animation: fadeInBottom 0.5s linear forwards;
  animation-delay: 5.5s;
}

@keyframes fadeInBottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ap {
  opacity: 0;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  animation: fadeIn 1s linear forwards;
  animation-delay: 6s;
}

/*------------------------------------------------------------------
  	[Accordion]
------------------------------------------------------------------*/
.accordion .panel-default {
  border: none;
}

.accordion .panel-heading {
  border-radius: 0;
}

.accordion .panel-default > .panel-heading {
  color: #515769;
  background: #fff;
  border: none;
  padding: 0;
}

.accordion .panel-title {
  font-size: 22px;
}

.accordion .panel-title-child {
  display: block;
  padding: 30px;
}

.accordion .panel-group .panel + .panel {
  border-radius: 0;
  margin-top: 10px;
}

.accordion .panel-default > .panel-heading + .panel-collapse > .panel-body {
  font-size: 16px;
  border-top: none;
  padding: 0 30px 30px 30px;
  margin-top: -1px;
}

.accordion [aria-expanded="true"],
.accordion .collapse.in {
  color: #fff;
  background: #17bed2;
}

/*------------------------------------------------------------------
    [Swiper Slider]
------------------------------------------------------------------*/
.swiper-slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-clients-img {
  display: block;
  width: 100px;
  height: auto;
  margin: 0 auto;
  opacity: 1;
  cursor: pointer;
  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.swiper-clients-img:hover {
  opacity: 0.8;
  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/*------------------------------------------------------------------
  	[Text Colors]
------------------------------------------------------------------*/
.color-base {
  color: #17bed2 !important;
}

.color-white {
  color: #fff !important;
}

.color-heading {
  color: #515769 !important;
}

.color-subtitle {
  color: #a6a7aa !important;
}

.color-link {
  color: #81848f !important;
}

.color-link-hover {
  color: #999caa !important;
}

.color-sky-light {
  color: #fafafa !important;
}

/*------------------------------------------------------------------
  	[Service]
------------------------------------------------------------------*/
.service {
  background: #fff;
  padding: 50px;
}

.service .service-element,
.service .service-info {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.service .service-icon {
  display: block;
  font-size: 30px;
  color: #999caa;
  margin-bottom: 30px;
}

.service:hover .service-element {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.service:hover .service-info {
  -webkit-transform: translate3d(0, -30%, 0);
  -moz-transform: translate3d(0, -30%, 0);
  transform: translate3d(0, -30%, 0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/*------------------------------------------------------------------
  	[Work]
------------------------------------------------------------------*/
/* Overlay */
.work {
  position: relative;
  display: block;
}

.work .work-overlay {
  position: relative;
  cursor: pointer;
}

.work .work-overlay:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  content: " ";
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.work:hover .work-overlay:before {
  background: rgba(0, 0, 0, 0.5);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* Popup */
.work .work-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
  background: rgba(81, 87, 105, 0.4);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.work .work-popup-overlay-show {
  opacity: 1;
  visibility: visible;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.work .work-popup-content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 730px;
  height: auto;
  display: block;
  background: #fff;
  padding: 30px;
  margin: 0 auto;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.work .work-popup-content-divider {
  border-right: 1px solid #cdcecf;
}

@media (max-width: 768px) {
  .work .work-popup-content {
    width: 95%;
  }
  .work .work-popup-content-divider {
    border-right: none;
    border-bottom: 1px solid #cdcecf;
  }
}

.work .work-popup-close {
  float: right;
  font-size: 13px;
  font-weight: 700;
  color: #c5c6cb;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.work .work-popup-close:hover {
  color: #aaacb3;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* Tag */
.work .work-popup-tag {
  margin: 0;
}

.work .work-popup-tag-item {
  padding: 0 2px;
}

.work .work-popup-tag-link {
  font-size: 13px;
}



/*****containterParralax***/

.containterParralax{
  text-align: center;
}

.containterParralax h2{
  font-size: 24vw;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-attachment: fixed;
}

.containterParralax span{
 text-align: center;
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1em;
 
}

.si:nth-child(1) .containterParralax h2{
  background-image: url(../img/everest.jpeg);
}


 /*** LIBRO **/

 #album{
   width: 100%;
   height: 800px;
   margin: 5% auto;
 }