.flipbook-viewport{
	overflow:hidden;
	width:100%;
	height:100%;
}

.flipbook-viewport .container{
	margin-top: 100px;
	position:relative;
	top:50%;
	left:50%;
	margin:auto;
}

 

.flipbook-viewport .flipbook{
	margin-top: 300px;
	width:800px;
	height:400px;
	left:-400px;
	top:-200px;
}

 

.flipbook-viewport .page{
	width:400px;
	height:400px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook-viewport .double{
	width:800px;
	height:400px;
	background-size:100% 100%;
}



@media only screen and (max-width: 500px) {
	.flipbook-viewport{
		overflow:hidden;
		width:100%;
		height:100%;
	}
	
	.flipbook-viewport .container{
		margin-top: 100px;
		position:relative;
		top:50%;
		left:50%;
		margin:auto;
	}
	
	 
	
	.flipbook-viewport .flipbook{
		margin-top: 300px;
		width:400px !important;
		height:400px !important;
		left:-225px !important;
		top:-200px;
	}
	
	 
	
	.flipbook-viewport .page{
		width:200px !important;
		height:400px !important;
		background-color:white;
		background-repeat:no-repeat;
		background-size:100% 100%;
	}
	
	.flipbook-viewport .double{
		width:400px !important;
		height:400px !important;
		background-size:100% 100%;
	}
	
	
}






.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}


