/*===========================================================

   Sitio: Hernán Carracedo
   Descripcion : Estilos sitio
	
=================================================
  Tabla de Contenidos
=================================================

	1. Generales
	2. Introducción
    2.1 Particles
		2.2 TypeWriter
		2.3 Page Header
  3. Developer
	 

=======================================================*/


/* =================================== */
/*  1. Generales 
/* =================================== */

* {
  margin: 0px;
  padding: 0px;
}

 
body,
html {
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: auto;
  }
}

body {
  background: #dddddd;
  color: #4c4d4d;
  font-family: "Poppins", sans-serif;
}


/* Font Weight */
.fw-100 {
  font-weight: 100 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

.bg-dark-1 {
  background-color: #212529 !important;
}

 
.heading-separator-line {
  width: 80px;
}

.opacity-1 {
  opacity: 0.1;
}

.list-style-2 {
  padding: 0;
}

.list-style-2 > li {
  list-style-type: none;
  border-bottom: 1px solid #eaeaea;
  padding-top: 12px;
  padding-bottom: 12px;
}

.list-style-2.list-style-light > li {
  border-bottom: 1px solid rgba(250, 250, 250, 0.12);
}

.text-24 {
  font-size: calc(1.95rem + 8.4vw) !important;
}
@media (min-width: 1200px) {
  .text-24 {
    font-size: 8.25rem !important;
  }
}

.text-9 {
  font-size: 36px !important;
  font-size: 2.25rem !important;
}

.section {
  padding: 4.5rem 0;
}

/* =================================== */
/*  2. Introducción 
/* =================================== */

.containerTitle {
  margin-top: 140px;
}

/* =================================== */
/*  2.1 Particles
/* =================================== */


canvas {
  display: block;
   
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #212529;
}




/* =================================== */
/*  2.2 TypeWriter
/* =================================== */
.textType {
  color: #fff;
  font-size: 55px;
}
#text {
  display: inline-block;
  color: #fff;
  border-right: 3px solid #fff;
  font-size: 50px;
}

.Typewriter__wrapper {
  color: #fff;
  font-size: 50px;
}


/* =================================== */
/*  3. Developer
/* =================================== */
.bg-dark-2 {
	background-color: #01142B !important;
  }
.text-dev {
  font-size: 6.25rem !important;
}
@media (min-width: 1200px) {
  .text-dev {
    font-size: 5.25rem !important;
  }
}

 


/* =================================== */
/*  4. Teacher 
/* =================================== */
.bg-dark-3 {
	background-color: #212729 !important;
  }

.border-left {
    border-left: 1px solid #282CDC!important;
	padding-right: 5px;
}

.border-2 {
	border-width: 2px !important;
}

.border-primary {
	border-color: #282CDC !important;
  }

.pl-3, .px-3 {
    padding-left: 1rem!important;
}