* {
  margin: 0px;
  padding: 0px;
}

 
body,
html {
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: auto;
  }
}

body {
  background: #dddddd;
  color: #4c4d4d;
  font-family: "Poppins", sans-serif;
}
canvas {
  display: block;
   
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #212529;
}

.section {
  padding: 4.5rem 0;
}

 
.text-24 {
  font-size: calc(1.95rem + 8.4vw) !important;
}
@media (min-width: 1200px) {
  .text-24 {
    font-size: 8.25rem !important;
  }
}

.text-9 {
  font-size: 36px !important;
  font-size: 2.25rem !important;
}

.bg-dark-1 {
  background-color: #212529 !important;
}

/*== Heading Separator Line ==*/
.heading-separator-line {
  width: 80px;
}

.opacity-1 {
  opacity: 0.1;
}

.list-style-2 {
  padding: 0;
}

.list-style-2 > li {
  list-style-type: none;
  border-bottom: 1px solid #eaeaea;
  padding-top: 12px;
  padding-bottom: 12px;
}

.list-style-2.list-style-light > li {
  border-bottom: 1px solid rgba(250, 250, 250, 0.12);
}

 

.containerTitle {
  margin-top: 140px;
}

/**TYPEWRITER**/
.textType {
  color: #fff;
  font-size: 55px;
}
#text {
  display: inline-block;
  color: #fff;
  border-right: 3px solid #fff;
  font-size: 50px;
}

.Typewriter__wrapper {
  color: #fff;
  font-size: 50px;
}



/* Font Weight */
.fw-100 {
    font-weight: 100 !important;
  }
  
  .fw-200 {
    font-weight: 200 !important;
  }
  
  .fw-300 {
    font-weight: 300 !important;
  }
  
  .fw-400 {
    font-weight: 400 !important;
  }
  
  .fw-500 {
    font-weight: 500 !important;
  }
  
  .fw-600 {
    font-weight: 600 !important;
  }
  
  .fw-700 {
    font-weight: 700 !important;
  }
  
  .fw-800 {
    font-weight: 800 !important;
  }
  
  .fw-900 {
    font-weight: 900 !important;
  }